name: Build MacOS release

on:
  release:
    types: created

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --release
      - name: Rename
        run: mv target/release/corinth target/release/corinth-mac-${{ github.event.release.tag_name }}
      - name: Attach to ${{ github.event.release.tag_name }}
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            target/release/corinth-mac-${{ github.event.release.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
